html, body {
    font-family: Arial, sans-serif;
    background-color: #F2F4FA;
    color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column; /* Mengatur body menjadi kolom */
    min-height: 100vh; /* Memastikan body mengisi seluruh tinggi viewport */
}
section {
    flex: 1; /* membuat section mengisi ruang di antara header dan footer */
}
header, footer {
    width: 100%;
}
header {
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F4FA;
    gap: 0;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.logo {
    height: 115px;
}
nav ul {
    display: flex;
    align-items: stretch;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    height: 100%;
}
nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 21px 21px;
    color: rgb(32, 55, 61);
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #c9c9c9;  /* Ganti warna latar belakang saat hover */
    color: #000000;             /* (Opsional) ubah warna teks saat hover */
}
footer {
    background-color: rgb(32, 55, 61);
    color: white;
    text-align: center;
    padding: 10px 0;
}
